<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.circleupinc.productandorder">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Order.OrderList"></activity>
        <activity android:name=".Order.PaymentStatus" />
        <activity android:name=".Order.Fulfillment" />
        <activity android:name=".Order.OrderDetails" />
        <activity android:name=".Order.OrderHome" />
        <activity android:name=".Customer.CustomerDetails" />
        <activity android:name=".Customer.AllCustomers" />
        <activity android:name=".Home" />
        <activity android:name=".Product.ImageGridView" />
        <activity android:name=".Product.FullPageImageView" />
        <activity android:name=".Product.ProductName" />
        <activity android:name=".Product.ChangePrice" />
        <activity android:name=".Product.ProductDetails" />
        <activity android:name=".Product.AddProduct" />
    </application>

</manifest>